.SettingsMenu {
  padding: 1em;
  // background-color: $bg;
  // border-radius: $radius;

  .sliders {
    .Slider {
      padding-bottom: 15px;
    }
  }

  .quick-actions {
    button {
      margin: 0.2em;
    }
  }
}
.QuickSettings {
  box {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  icon {
    margin-left: 3px;
    margin-right: 3px;
  }
}
