.Workspaces {
  // // font-size: 0;
  // min-width: 5pt;
  // // max-height: 5pt;
  border-radius: $radius * 2;
  // border: $border;
  // box-shadow: inset 0 0 0 $border-width $border-color;
  margin: 0 $padding * 0.5;
  transition: $transition * 0.5;
  // background-color: transparentize($fg, 0.8);
  padding: 0.2em;

  label {
    transition: 200ms;
    padding: 0 8px;
    // margin: 2px;
  }
  button {
    // font-size: $;
    border-radius: $radius * 2;
    transition: 250ms background, 250ms border-radius;
    padding: 1px;
    // margin: 2px;
    margin: 0; // Remove margin to avoid gaps

    label {
      border-radius: $radius * 2;
    }

    &.focused {
      // background-image: $active-gradient;;
      background-color: transparentize($primary-fg, 0.5);
      // color: $primary-fg;
      // border-color: $primary-bg;
      // border-radius: $radius * 2;
      min-width: 30pt;
      // min-height: 12pt;

      label {
        color: $primary-bg;
        background-color: $primary-fg;
        border: $border;
      }
    }

    &.occupied {
      color: $bg;
      background-color: transparentize($fg, 0.2);

      min-width: 7pt;
      min-height: 7pt;

      // Adjust corners for adjacent occupied buttons
      // &.occupied {
      &.left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      // }
    }
  }
}
