@mixin panel-button($flat: true, $reactive: true) {
  @include button($flat, $reactive);

  > * {
    border-radius: $radius;
  }

  label,
  image {
    font-weight: bold;
  }
}

.PannelBox {
  background-color: $widget-bg;
  border-radius: $radius;

  margin: 1.5pt;
}

.PanelButton {
  @include panel-button;

  &:not(.flat) {
    @include panel-button($flat: false);
  }
}
