$bar-spacing: $spacing * 0.3;

@mixin panel-button($flat: true, $reactive: true) {
  @include accs-button($flat, $reactive);

  > * {
    border-radius: $radius;
    margin: $bar-spacing;
  }

  label,
  image {
    font-weight: bold;
  }

  > * {
    padding: $padding * 0.4 $padding * 0.8;
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  transition: $transition;

  font-size: $font_size;
  font-weight: bold;

  .BarContainer {
    background-color: $bg;
    color: $fg;
    // select box childs
  }

  .panel-button {
    @include panel-button;

    &:not(.flat) {
      @include accs-button($flat: false);
    }
  }

  label {
    transition: 200ms;
    padding: 0 8px;
    // margin: 2px;
  }

  .Workspaces {
    // font-size: 0;
    min-width: 5pt;
    // max-height: 5pt;
    border-radius: $radius * 2;
    border: $border;
    box-shadow: inset 0 0 0 $border-width $border-color;
    margin: 0 $padding * 0.5;
    transition: $transition * 0.5;
    background-color: transparentize($fg, 0.8);
    padding: 0.2em;
    button {
      // font-size: $;
      border-radius: $radius * 2;
      transition: 250ms background, 250ms border-radius;
      padding: 1px;
      margin: 2px;
      &.focused {
        // background-image: $active-gradient;;
        background-color: transparentize($fg, 0.5);
        color: $bg;
        // border-color: $primary-bg;
        min-width: 30pt;
        min-height: 12pt;
      }
      &.occupied {
        color: $bg;

        background-color: transparentize($fg, 0.2);
        min-width: 7pt;
        min-height: 7pt;
      }
    }
  }

  .IdleInhibitor {
    &.active {
      color: $selected-bg;
    }
  }

  // .Wifi {
  //   color: $widget-bg;
  //   button {
  //     @include button();
  //   }
  // }

  .Vitals {
    border: 1pt solid;
    border-color: $border-color;
    border-radius: $radius;

    // .CPU {
    //   color: $accent;
    // }
    // .RAM {
    //   color: $accent;
    // }
    // .STORAGE {
    //   color: $accent;
    // }
  }

  .FocusedClient {
    color: $selected-bg;
  }

  .Media {
    .Cover {
      min-height: 1.2em;
      min-width: 1.2em;
      border-radius: $radius;
      background-position: center;
      background-size: contain;
    }
  }
  .Battery {
    label {
      padding-left: 0;
      margin-left: 0;
    }
  }

  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-right: 0.6em;
    }

    margin: 0 1em;

    trough {
      background-color: gtkalpha($primary-bg, 0.5);
      border-radius: $radius;
    }

    highlight {
      background-color: $primary-bg;
      min-height: 0.8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em;
    }
  }
  .SysTray {
    padding-left: 0.2em;
    padding-right: 0.2em;

    button {
      // min-width: 1.2em;
      // min-height: 1.2em;
      // border-radius: $radius;
      padding: 0.1em;
      margin: 0.1em;
    }

    // button:hover {
    //   background-color: gtkalpha($fg, 0.84);
    //   border-color: gtkalpha($border-color, 0.8);
    //   color: $primary-bg;
    // }
  }

  .KBLayout {
    label {
      color: $primary-bg;
    }
  }
}
