$bar-spacing: $spacing * 0.3;

@mixin panel-button($flat: true, $reactive: true) {
  @include accs-button($flat, $reactive);

  > * {
    border-radius: $radius;
    margin: $bar-spacing;
  }

  label,
  image {
    font-weight: bold;
  }

  > * {
    padding: $padding * 0.4 $padding * 0.8;
  }
}

window.Bar {
  border: none;
  box-shadow: none;
  transition: $transition;

  font-size: $font_size;
  font-weight: bold;

  .BarContainer {
    // background-color: $bg;
    // color: $fg;
    // border: $border;
    // select box childs
  }

  .panel-button {
    @include panel-button;

    &:not(.flat) {
      @include accs-button($flat: false);
    }
  }

  .IdleInhibitor {
    &.active {
      color: $primary-bg;
    }
  }

  .FocusedClient {
    color: $primary-bg;
  }

  .Media {
    .Cover {
      min-height: 1.2em;
      min-width: 1.2em;
      border-radius: $radius;
      background-position: center;
      background-size: contain;
    }
  }
  .Battery {
    label {
      padding-left: 0;
      margin-left: 0;
    }
  }

  .KBLayout {
    label {
      color: $primary-bg;
    }
  }
}
