window.Bar {
  border: none;
  box-shadow: none;

  font-size: $font_size;
  font-weight: bold;

  .BarContainer {
    background-color: $bg;
    color: $fg;
    // select box childs
  }

  // not workspace btns
  button:not(.Workspaces):not(.SysTray) {
    // make it a with a aspect ratio
  }

  button {
    all: unset;
    background-color: transparent;
    border: 1pt solid transparent;
    border-radius: 0.2em;

    // make it a square
    min-width: 1.2em;
    min-height: 1.2em;
    // padding: 0.1em;

    &:hover {
      background-color: gtkalpha($fg, 0.84);
      border-color: gtkalpha($border-color, 0.8);
      color: $primary-bg;
    }

    &:active {
      background-color: gtkalpha($fg, 0.8);
    }
  }

  label {
    transition: 200ms;
    padding: 0 8px;
    // margin: 2px;
  }

  .Workspaces {
    border-color: $fg;
    border: $border;
    padding: 0.1em;

    border-radius: $radius * 2;

    button {
      border-radius: $radius;
    }
    label {
      border-radius: $radius;
      transition: 250ms background, 250ms border-radius;
    }
    .focused label {
      color: $bg;
      border-color: $border-color;
      background-color: $selected-bg;
    }
    .occupied label {
      color: $fg;
      border-color: $fg;
    }
  }

  .IdleInhibitor {
    &.active {
      color: $selected-bg;
    }
  }

  .Vitals {
    border: 1pt solid;
    border-color: $border-color;
    border-radius: $radius;

    // .CPU {
    //   color: $accent;
    // }
    // .RAM {
    //   color: $accent;
    // }
    // .STORAGE {
    //   color: $accent;
    // }
  }

  .FocusedClient {
    color: $widget-bg;
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery {
    label {
      padding-left: 0;
      margin-left: 0;
    }
  }

  .Wifi {
    color: $widget-bg;
  }

  .AudioSlider {
    * {
      all: unset;
    }

    icon {
      margin-right: 0.6em;
    }

    margin: 0 1em;

    trough {
      background-color: gtkalpha($fg, 0.8);
      border-radius: $radius;
    }

    highlight {
      background-color: $primary-bg;
      min-height: 0.8em;
      border-radius: $radius;
    }

    slider {
      background-color: $fg;
      border-radius: $radius;
      min-height: 1em;
      min-width: 1em;
      margin: -0.2em;
    }
  }
  .SysTray {
    padding-left: 0.2em;
    padding-right: 0.2em;

    button {
      min-width: 1.2em;
      min-height: 1.2em;
      border-radius: $radius;
      padding: 0.1em;
      margin: 0.1em;
    }

    button:hover {
      background-color: gtkalpha($fg, 0.84);
      border-color: gtkalpha($border-color, 0.8);
      color: $primary-bg;
    }
  }

  .KBLayout {
    label {
      color: $primary-bg;
    }
  }
}
