.Slider {
  * {
    all: unset;
  }

  icon {
    margin-right: 0.6em;
  }

  margin: 0 1em;

  trough {
    // TODO: add bg
    background-color: gtkalpha($color01, 0.5);
    border-radius: $radius;
  }

  highlight {
    background-color: $color02;
    min-height: 0.8em;
    border-radius: $radius;
  }

  slider {
    background-color: $fg;
    border-radius: $radius;
    min-height: 1em;
    min-width: 1em;
    margin: -0.2em;
  }
}
