window.Bar {
  .IdleInhibitor {
    .active {
      color: $widget-fg;
    }
    icon {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .FocusedClient {
    padding-left: 10px;
  }

  .Media {
    padding-left: 10px;
    padding-right: 10px;
    .Cover {
      min-height: 1.2em;
      min-width: 1.2em;
      border-radius: $radius;
      background-position: center;
      background-size: contain;
    }
  }
  .Battery {
    box {
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  }

  .KBLayout {
    label {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .LauncherButton {
    icon {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

// .Shortcuts {
//   scrollable {
//     @include scrollable($top: true);
//     background-color: $bg;
//     color: $fg;

//     padding: 5em;

//     .key {
//       padding: 0.5em;
//       margin: 0.5em;
//       background-color: $bg;
//       color: $fg;
//       border: 1px solid $border;
//     }
//   }
// }
